:root {
  --primary: #ffffff;
  --secondary: #2B2D42;
  --fresh: #D80032;
  --letras: #292929;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary);
}
h1, h2, h3 {
  font-family:'Franklin Gothic Medium';
  color: var(--letras);
  text-align: center;
}
p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: var(--letras);
}
table td{
  border: 2px solid black;
  background-color: #747ab4;
  padding: 20px;
  font-size: 25px;
}
table {
  background-color: var(--secondary);
  padding: 25px;
  display: inline-block;
}

table button:hover {
  cursor: pointer;
}
h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--letras);
}
main article img{
  width: 33%;
  cursor: pointer;
}

h2 {
  font-size: 3rem;
  text-align: center;
}
article img, table {
  margin-top: 30px;
}
#jornadesMasc p{
  background-color:var(--secondary);
  color: var(--primary);
  padding: 20px;
  margin: 5px;
  width: 20%;
  border-radius: 25px;
  display: inline-block;
}

#jornadesFem p{
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
  margin: 5px;
  width: 20%;
  border-radius: 25px;
  display: inline-block;
}
#resultatsMasc p {
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
  margin: 5px;
  width: 50px;
  border-radius: 25px;
  display: inline-block;
}

#resultatsFem p {
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
  margin: 5px;
  width: 50px;
  border-radius: 25px;
  display: inline-block;
}
h3 {
  font-size: 2.2rem;
}
p, li {
  font-size: 20px;  
  text-align: center;
}
b {
  margin-bottom: 20px;
  font-size: 30px;
}
header img{
  width: 100%;
}

article, aside {

  text-align: center;
}
footer p{
  color: var(--primary);
  bottom: 0;
  padding: 17px;
}
nav {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #0E0F19;
}
nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}
nav li {
  display: inline;
  text-align: center;
  flex: 1;
}  

nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
} 

nav form {
  height: 100%;
  padding: 0 2em;
}  

a .material-symbols-outlined{
  display: inline;
}
main {
  display: flex;
}
article a{
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}
article {
  width: 100%;
}

button {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 15px;
  margin-top: 10px;
}
article a {
  margin: 15px;
  font-size: 30px;
}
aside {
  flex: 1;
  margin-left: 10px;
}
ul li {
  list-style-type: none;
}
aside ul li a {
  padding-bottom: 10px; 
  color: var(--letras);
  text-decoration: none;    
} 
aside li a {
  padding-bottom: 10px; 
  color: white;
  text-decoration: none;
} 

aside li{
  list-style: none;
  text-align: center;
}
aside li{
  margin: 0.75rem;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #0E0F19;   
}
